version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: cubos-movies-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    networks:
      - cubos-movies-network

  minio:
    image: minio/minio
    container_name: cubos-movies-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    ports:
      - "9000:9000" # Porta da API do MinIO
      - "9001:9001" # Porta do Console (Web UI) do MinIO
    volumes:
      - minio_data:/data
    networks:
      - cubos-movies-network

volumes:
  postgres_data:
    driver: local
  minio_data:
    driver: local

networks:
  cubos-movies-network:
    driver: bridge