# Database
DATABASE_URL="postgresql://username:password@localhost:5432/movie_db"

# JWT
JWT_SECRET="secret"

# Port
PORT=3000

# API URL
API_URL=http://localhost:3000

# Frontend URL (para CORS)
FRONTEND_URL=http://localhost:5173

# MinIO
AWS_ACCESS_KEY_ID=minioid
AWS_SECRET_ACCESS_KEY=minioaccess
AWS_ENDPOINT=http://localhost:9000
AWS_BUCKET=bucket